.article pre {
    border-right: 4px solid #ff7043;
    position: relative;
    overflow: visible;
    pointer-events: none;
    background: #2b2b2b;
    font-size: 15px;
}

.article pre code {
    color: #C1C2C3 !important;
}

.article pre::before {
    content: "";
    background-color: #ff7043;
    background-image: url(../images/code.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -21px;
    top: -20px;
    color: white;
    line-height: 0;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: 700;
    pointer-events: auto;
    cursor: pointer;
}

.article pre.copied::after {
    content: "Copied!";
    position: absolute;
    right: 25px;
    top: -12px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1px 5px;
    border-radius: 2px;
}

.article .wrapper {
    font-size: 1.5em;
    line-height: 1.7em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.article .wrapper .admonition {
    font-size: 15px;
    line-height: 1.7em;
    font-weight: 400;
}
.article .wrapper .admonition .admonition-title {
    font-weight: 400;
}
.article .wrapper .admonition a {
    color: white !important;
}

.article .wrapper a.external {
    margin-right: 20px;
    position: relative;
}
.article .wrapper a.external::after {
    right: -20px;
    top: calc(50% - 5px);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f08e";
    border-bottom: none;
    position: absolute;
    color: #00557b !important;
}

.copyright {
    margin: 50px 0px 0px 0px;
    border-top: 1px solid #e1e1e1;
    padding: 15px 10px 30px;
}

.article .copyright a.fa-heart {
    border: none;
    color: #e84e40;
}

.drawer span.fa {
    color: #007bb3;
    width: 20px;
    margin-right: 10px;
    text-align: center;
}
.drawer i.fa {
    font-size: 3em;
    margin-top: 15px;
    margin-left: 10px;
}

.drawer .project a.username {
    color: #007bb3;
    font-weight: bold;
    border-bottom: 1px solid #007bb3;
    transition: 0.1s border, 0.1s color;
}
.drawer .project a.username:hover {
    color: #ff6e40;
    border-bottom: 1px solid #ff6e40;
}

.backdrop-header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/background_header.jpg');
    opacity: 0.5;
}

.header .stretch .title .sm {
    display: none;
}

.article img.round {
    border-radius: 100%;
}
.article img.round-rectangle {
    border-radius: 5px;
}
.article img.left {
    float: left;
    margin-right: 20px;
}
.article img.right {
    float: right;
    margin-left: 20px;
}
.article img.left::after .article img.right::after {
    clear:both;
}
.article a.image-link {
    cursor: zoom-in;
    border: none;
}

.article h2 {
    margin-top: -30px;
}

button:hover {
    cursor: pointer;
}

.article ul.feature-list {
    margin-top: 8px;
    margin-left: 15px;
    font-size: 0.9em;
    font-style: italic;
}
.article ul.feature-list li {
    margin-top: 7px;
}

.tooltip {
    border-bottom: 3px solid #ff6e40;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .article pre::before {
        border-radius: 100% 0 0 100%;
        right: -4px;
    }

    .article pre.copied::after {
        right: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .backdrop-site {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: url('../images/background_site.jpg') no-repeat;
        opacity: 0.5;
        background-size: 100%;
        z-index: -1;
    }
}

@media screen and (max-width: 959px) {
    .drawer .project a.username {
        color: #ffffff;
        border: none;
    }

    .header .stretch .title .sm {
        display: block;
    }
    .header .stretch .title .lg {
        display: none;
    }
}

@media screen and (max-width: 649px) {
    .article img.left, .article img.right {
        float: none;
        display: block;
        width: auto !important;
        margin: 10px auto 30px;
    }
}