/*  This file only exists (temporarily) until the
    custom styling can be replaced with the
    implementation of the upstream project.
*/

blockquote {
    padding: 0 20px;
    margin: 0 0 20px;
    font-size: inherit;
    border-left: 5px solid #eee;
}

.article pre {
    border-right: 4px solid #ff7043;
    position: relative;
    overflow: visible;
    pointer-events: none;
    background: #2b2b2b;
}

.article pre code {
    color: #C1C2C3 !important;
}

.article pre::before {
    content: "";
    background-color: #ff7043;
    background-image: url(../images/code.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -21px;
    top: -20px;
    color: white;
    line-height: 0;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: 700;
    pointer-events: auto;
    cursor: pointer;
}

.article pre.copied::after {
    content: "Copied!";
    position: absolute;
    right: 25px;
    top: -12px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1px 5px;
    border-radius: 2px;
}

@media screen and (max-width: 1280px) {
    .article pre::before {
        border-radius: 100% 0 0 100%;
        right: -4px;
    }

    .article pre.copied::after {
        right: 40px;
    }
}

.copyright {
    margin-top: 50px;
    border-top: 1px solid #e1e1e1;
    padding: 15px 10px;
}

.article .copyright a.fa-heart {
    border: none;
    color: #e84e40;
}

.drawer .fa {
    color: #007bb3;
    width: 20px;
    margin-right: 10px;
    text-align: center;
}
.drawer .project a {
    color: #007bb3;
    border-bottom: 1px solid #007bb3;
}
.drawer .project a:hover {
    color: #ff6e40;
}