<div class="timeline">
    <div class="entry" style="height: 150px;bottom: 1105px;background: linear-gradient(to bottom, #fff 0%, #d22827 50px);border-top: none;"></div>
    <div class="entry" style="height: 71px;bottom: 1034px;background: #b0ba01;"></div>
    <div class="entry" style="height: 25px;bottom: 1009px;background: #2ce6cc;"></div>
    <div class="entry" style="height: 300px;bottom: 700px;background: #cc7114;"></div>
    <div class="entry" style="height: 191px;bottom: 500px;background: #1455cc;"></div>
    <div class="entry" style="height: 191px;bottom: 300px;background: #9f14cc;"></div>

    <div class="now"></div>

    <div class="left">
        <div class="note lieberlieber" data-timeline-y="1070" style="bottom:1002px;">
            <a href="http://www.lieberlieber.com/en/">
                LieberLieber<br/>Software GmbH
            </a>
            <br/>
            <i><span class="fa fa-code"></span> Software Developer</i>
            <div class="date">03/2014 - 07/2015</div>
        </div>
        <div class="note" data-timeline-y="855" style="bottom:800px;">
            <span>
                Technical high school
            </span>
            <br/>
            <i><span class="fa fa-map-marker"></span> <a href="http://www.htl-ottakring.at/">HTL Ottakring</a></i>
            <div class="date">09/2007 - 06/2013</div>
        </div>
        <div class="note" data-timeline-y="395" style="bottom:340px;">
            <span>
                Primary school
            </span>
            <br/>
            <i><span class="fa fa-map-marker"></span> <a href="http://www.vsvoesendorf.ac.at/">Vösendorf</a></i>
            <div class="date">09/1999 - 06/2003</div>
        </div>
    </div>
    <div class="right">
        <div class="note catalysts" data-timeline-y="1150" style="bottom: 1100px;">
            <a href="https://www.catalysts.cc/en/">
                Catalysts GmbH
            </a>
            <br/>
            <i><span class="fa fa-code"></span> Software Engineer</i>
            <div class="date">08/2015 - now</div>
        </div>
        <div class="note military" data-timeline-y="1022" style="bottom: 968px;">
            <span>
                Military service
            </span>
            <br/>
            <i><span class="fa fa-map-marker"></span> <a href="http://www.bundesheer.at/english/">Austrian Armed Forces</a></i>
            <div class="date">09/2013 - 02/2014</div>
        </div>
        <div class="note" data-timeline-y="595" style="bottom: 547px;">
            <span>
                Grammar school
            </span>
            <br/>
            <i><span class="fa fa-map-marker"></span> <a href="http://www.keimgasse.at/">BRG Keimgasse</a></i>
            <div class="date">09/2003 - 06/2007</div>
        </div>
        <div class="note birth" data-timeline-y="5" style="bottom: -49px;">
            <span>
                Birth
            </span>
            <br/>
            <i><span class="fa fa-map-marker"></span> <a href="http://www.wienkav.at/kav/wil/">Wilhelminenspital</a></i>
            <div class="date">06.04.1993</div>
        </div>
    </div>
</div>

<script>
    function centerNotes() {
        $('.note').each(function (key, note) {
            var timelineY = $(note).attr('data-timeline-y');
            if (timelineY) {
                $(note).css('bottom', timelineY - ($(note).outerHeight() / 2));
            }
        });
    }
    $(document).ready(function () {
        centerNotes();
    });
    $(window).resize(function () {
        centerNotes();
    });
</script>