<div class="timeline">
    <div class="entry" style="height: 200px;bottom: 350px;background: #1455cc;"></div>
    <div class="entry" style="height: 200px;bottom: 150px;background: #9f14cc;"></div>

    <div class="left">
        <div class="note" style="bottom:210px;">
            <span>
                Primary school
            </span>
            <div class="date">1999 - 2003</div>
        </div>
    </div>
    <div class="right">
        <div class="note" style="bottom: 410px;">
            <span>
                Grammar school
            </span>
            <div class="date">2003 - 2007</div>
        </div>
        <div class="note" style="bottom: -37px;">
            <span>
                Birth
            </span>
            <div class="date">06.04.1993</div>
        </div>
    </div>
</div>